<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#tops">Áo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#bottoms">Quần</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#shoes">Giày dép</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#handbags"
                >Túi xách</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#necklaces"
                >Dây chuyền</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#hairstyles"
                >Kiểu tóc</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#backgrounds">Nền</a>
            </li>
          </ul>
          <div class="well">
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="tops" class="container tab-pane active">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/topcloth1_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Top cloth 1</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/topcloth2_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Top cloth 2</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/topcloth3_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Top cloth 3</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/topcloth4_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Top cloth 4</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/topcloth5_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Top cloth 5</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/topcloth6_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Top cloth 6</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                </div>
              </div>
              <div id="bottoms" class="container tab-pane fade">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/botcloth1_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Bot cloth 1</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/botcloth2_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Bot cloth 2</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/botcloth3_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Bot cloth 3</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/botcloth4_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Bot cloth 4</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../assets/images/clothes/Botcloth5_show.jpg"
                      alt=""
                      class="img-fluid"
                    />
                    <h5 class="text-center">Bot cloth 5</h3>
                    <button class="btn btn-dark container" id="thuDo">Thử đồ</button>
                  </div>
                </div>
              </div>
              <div id="shoes" class="container tab-pane fade"></div>
              <div id="handbags" class="container tab-pane fade"></div>
              <div id="necklaces" class="container tab-pane fade"></div>
              <div id="hairstyles" class="container tab-pane fade"></div>
              <div id="backgrounds" class="container tab-pane fade"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div>
            <div class="hairstyle"></div>
            <div class="necklace"></div>
            <div class="bikinitop"></div>
            <div class="bikinibottom"></div>
            <div class="handbag"></div>
            <div class="feet"></div>
            <div class="background"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
  </body>
</html>
